doctype html
html(lang='#{meta.lang_code}')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title #{content.title}
    meta(name='description', content='#{content.description}')
    meta(name='keywords', content='#{content.title}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(property='og:title', content='#{content.title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{meta.url}')
    meta(property='og:image', content='http://www.mbti123.com/mbti123_logo.png')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='256')
    meta(property='og:image:height', content='256')
    meta(property='og:description', content='#{content.description}')

    // JS
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')

    // Tab CSS
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css', type='text/css', media='all')

    script(type='text/javascript').
      $.isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
      $.isWeixin = /from\=timeline/.test(location.href) && /isappinstalled/.test(location.href);

      if (!$.isWeixin) {
        document.write('<style>.weixin{display:none}</style>');
      }

      window.insertJavaScript = function(src) {
        var d = document;
        var js, fjs = d.getElementsByTagName('script')[0];
        js = d.createElement('script'); 
        js.type = 'text/javascript'; 
        js.src = src;
        fjs.parentNode.insertBefore(js, fjs);
      };

      // Whether we are in debug mode, if so, we will cut the number of questions and set up a fake MBTI value
      var isDebug = location.href.indexOf(':8080') != -1;

      var ga_detail = window.google_analytics_uacct = "#{meta.ga_id}";
      if (isDebug) {
        ga_detail = '0';
      }
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', ga_detail]);
      _gaq.push(['_trackPageview'], ['_trackPageview', '/q-0']);
      insertJavaScript('//stats.g.doubleclick.net/dc.js');

    style.
      .promo_links a{display:block;text-align:center;text-decoration:none;color:#999}
      .promo_links a:hover{color:#000; background:#eef}
      a#chrome-ext{display:block; text-align:center; margin:15px; font-size:.8em; background:#ffe}
      a#chrome-ext:hover {color:#333; background:#fff}
      .fb-like {margin-top:10px}
      .weixin_id {font-family: Verdana; font-weight: bold;background: #efe; color:#000;}
      html,body{margin:0;cursor:default;font-size:1em;font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;}
      h1{background:#027446;color:#efe;line-height:1em;font-size:1.25em;padding:.25em;margin:0;text-align:center}
      .hint{font-size:1em;background:#f3f3f3;  -webkit-border-radius:10px; color:#444; width:380px; margin:10px auto; padding:4px; text-align:left}
      .hint-title {font-size:1.25em; font-weight:bold}
      #progress {background:#eef;line-height:1em;height:1.1em;font-size:1em;padding:0;margin:0;text-align:center;position:relative;}
      #progress-bg {background:#ddf;width:0%;height:1.1em;position:absolute}
      #progress-counter{background:none;width:100%;height:1.1em;line-height:1.1em;position:absolute;font-family:GillSans, Tahoma;font-size:1em}
      #result {display:none;text-align:center;font-size:1em}
      .main_view {margin:20px auto; width:500px;}
      .footer-share {text-align: center; margin: 20px auto 20px;}
      ul#collection {position:relative}
      ul#collection > li{zoom:1;padding:.625em 0;list-style:none;display:none;position:absolute; height:100%}
      ul#collection > li:after{clear:both;height:0;content:"\20";overflow:hidden;}
      /* ul#collection li div{height:33%} */
      .question {font-weight:bold;font-size:1.25em;margin-bottom:1em}
      .answer { -webkit-border-radius:5px;font-size:1em; margin-left:.25em;padding:.3em;cursor:pointer; background:#efe; border:2px solid #363; border-width:1px; border-color:#9c9 #363 #000 #363; color:#333}
      input {cursor:pointer; font-size:1em}
      #progress, #collection {display:none}
      #splash {text-align:center; margin:0 auto}
      #splash p{padding: 0 1em}
      #splash input{padding: .1em}
      #collection {height:100%}
      #result_type {background:red; padding:2px; font-family:Verdana; font-weight:bold; color:#fff}
      #result_details {display:none;font-size:1em}
      .link{font-size:1em}
      input#start {padding:5px; font-weight:bold; display:none; color:#444}
      #result_details {padding-bottom:10px; font-size:.9em}
      .qr_intro {font-size:1em;color:#666}
      #result_link {font-size:0.8em; color:#333}
      #result_link li {margin-bottom:1em;}
      #result_link p {margin-top:.5em}
      #credits {display:none; color:#666; margin-bottom: 20px; font-size:.8em; text-align:center; margin: 0 10px 30px; padding-bottom: 30px}
      #share-result {display:none; font-size: .8em;color:#333;}
      #share-hint {border:1px solid #027446; color:#027446; background:#f3fff3; text-align:center; font-size:.75em; padding: 9px 0}
      .mot-share {color:#fee; font-size:.75em;-webkit-border-radius:5px; background: #CA0000; padding:5px 4px; text-align: center}
      #share-number {color:#fff;padding:0 5px;}
      @media only screen and (max-device-width: 480px) {
      body {-webkit-text-size-adjust: none;overflow:hidden;}
      html,body{height:100%;margin:0;cursor:default;font-size:1em;}
      .main_view {margin:20px auto 0; max-width: 90%; position:relative; padding:0}
      #chart-container {width:100%; pointer-events:none}
      .hint {width:280px}
      .hint{font-size:.75em;background:#f3f3f3;  -webkit-border-radius:10px; color:#444; margin:10px auto; padding:4px; text-align:left}
      .hint-title {font-size:1.25em; font-weight:bold}
      .answer { -webkit-border-radius:5px;font-size:1.1em; margin-left:.25em;padding:.3em;cursor:pointer; background:#efe; border:2px solid #363; border-width:1px; border-color:#9c9 #363 #000 #363; color:#333}
      .answer:hover{color:#333; background:#efe;}
      }
      @media only screen and (max-device-width: 480px) and (orientation: landscape){
      body {-webkit-text-size-adjust: none;overflow:hidden;}
      html,body{height:100%;margin:0;cursor:default;font-size:1em;}
      .main_view {margin:20px auto 0; max-width: 90%; position:relative; padding:0}
      .hint {width:350px}
      .hint{font-size:.75em;background:#f3f3f3;  -webkit-border-radius:10px; color:#444; margin:10px auto; padding:4px; text-align:left}
      .hint-title {font-size:1.25em; font-weight:bold}
      .answer { -webkit-border-radius:5px;font-size:1.1em; margin-left:.25em;padding:.3em;cursor:pointer; background:#efe; border:2px solid #363; border-width:1px; border-color:#9c9 #363 #000 #363; color:#333}
      .answer:hover{color:#333; background:#efe}
      }
      #update-info {font-size:.75em; color:#666;}
      #update-info li{padding-right:15px}
      .translators_name {
      list-style: none;
      text-align: center;
      margin: 40px 0 0 -20px;
      font-size: .9em;
      color: #999;
      }
      #tabs-4 {font-size:.8em;}
      #result-value-text {font-size:6em; margin:0; font-family: Tahoma }
      #result-description {font-size:1em; font-weight: bold; margin:0 auto; padding:10px; -webkit-border-radius:15px;}
      #tabs-1 {text-align: center;}
      .eq-result-ing {color:#666;}
      .eq-result-show {color:#f33;}
      .momo {margin-top:40px; font-size: .8em; color:#999; }
      .result_mental_data {font-size:1.7em; margin:0; padding:0;}
      .result_mental_data b {font-size:1.5em;font-family: Arial; color:#aaa;}
      .blink_me {
      animation-name: blinker;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      }
      @-moz-keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }
      @-webkit-keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }
      @keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
      }
      .i18n_links {margin-top:15px;font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;list-style-type: circle;color:#ccc}
      .i18n_links a {text-decoration:none; color:#999;}
      .i18n_links a.current {color:#000; font-weight: bold}
      .i18n_links a:hover {text-decoration:underline; color:#000;}
      #meta-age {font-size:.2em; color:#666;vertical-align:middle; margin-bottom:10px}
      /*PLACEHOLDER_CUSTOM_STYLE*/

  body

    center.desktop-ad(style='margin-bottom:10px')
      ins.desktop-ad.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-0652429903365591', data-ad-slot='3911189865')
      script.
        var WINDOW_WIDTH = $(window).width();
        var push_result_ad = false;
        if (WINDOW_WIDTH > 798 && !$.isWeixin) {
          (adsbygoogle = window.adsbygoogle || []).push({});
        } else {
          $('.desktop-ad').hide();
          push_result_ad = true;
        }

    #inmobi_ad_slot
      script(type='text/javascript').
        var inmobi_conf = {
          manual: true,
          siteid : "723f648d7b334097831d8a52a44d05b9", // New ID
          test: false,
          // siteid : "4028cba631d63df10131e1d3191d00cb", // Test ID
          // test: true,
          slot : "15",
          onError : function(code) {
            if(code == "nfr") {
              document.getElementById("inmobi_ad_slot").style.display = "none";
              // TODO: do something else. call to other ad network or logic to display in-house ads, etc.
            }
          }
        };
      script(type='text/javascript', src='http://cf.cdn.inmobi.com/ad/inmobi.js')
      script.
        if (WINDOW_WIDTH < 450) {
          _inmobi.getNewAd(document.getElementById('inmobi_ad_slot'));
        } else {
          $('#inmobi_ad_slot').hide();
        }

    h1#headline #{content.title}
    #progress
      #progress-bg
      #progress-counter
        span#counter 1
        | /
        span#total ?

    ul#collection.main_view

    #splash.ui-helper-clearfix
      .hint
        p
          center.hint-title #{content.tip_title}
        p #{content.tip_content}
        #{meta.I18N_LINKS}
        li.translators_name #{meta.translators_name}

      center
        p#loading.loading-placeholder.blink_me #{content.loading}

      input#start.loading-placeholder(type='button', value='#{content.start_button_text}')

    #result_details.main_view
      #tabs
        ul
          li#result_tab
            a(href='#tabs-1') #{content.result_tab_title}
          li#details_tab
            a(href='#tabs-2') #{content.more_tab_title}
          li#share_tab
            a(href='#tabs-3') #{content.share_tab_title}

        #tabs-1
          p #{content.result_hint_title}
          #result-value-text.eq-result-ing
          #result-description.eq-result-ing.blink_me #{content.evaluating_text}
          div !{content.result_more_html}

        // Details Intro
        #tabs-2
          div
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            // Mental Age Test | Overall | 336x280
            ins.adsbygoogle(style='display:inline-block;width:336px;height:280px', data-ad-client='ca-pub-0652429903365591', data-ad-slot='9670018660')
            script.
              if (WINDOW_WIDTH > 450) {(
                adsbygoogle = window.adsbygoogle || []).push({}); 
                if (push_result_ad) {
                  (adsbygoogle = window.adsbygoogle || []).push({});
                }
              } else {
                $('.adsbygoogle').hide();
              }

            p#share-hint #{content.share_hint}
            #share-result
              p content

        script.
          var description_size = '3em';
          if (WINDOW_WIDTH < 500) {
            description_size = '1.5em';
          }
          function updateTS() {
            var base = 307; // This is from GA, it's a real number
            var tmp = (new Date / 1000 - 1385300765) / 5;
            var result_number = estimated_result = base + parseInt(tmp);
            $({result_val: 0}).animate({result_val: result_number}, {
              duration: 1000,
              easing:'easeOutQuint',
              step: function() {
                $('#share-number').text(Math.ceil(this.result_val));
              }
            });
          }

        #tabs-3
          .mot-share
            span #{content.shared_stat_part1}
            b#share-number ...
            span #{content.shared_stat_part2}
          ol#result_link
            for share in content.share_list
              li
                | #{share.name}
                p #{share.code}
            li.qr
              | QR Code
              div
                p#qr_code

    #emoji(style='display:none;text-align:center;margin:3px 0') 🍅  🍆  🍇  🍈  🍉  🍊
    script.
      if (!$.isSafari) {
        $("#emoji").empty();
      }
    div.footer-share
      div.fb-like(data-href='https://www.facebook.com/mbti123', data-width='255', data-layout='standard', data-action='like', data-show-faces='false', data-share='false')
      script.
        insertJavaScript("//connect.facebook.net/en_US/all.js#xfbml=1&appId=104371489596927");
      
      div.twitter-follow
        a.twitter-follow-button(href='https://twitter.com/mbti123', data-show-count='true', data-lang='#{meta.lang_code}') Follow @mbti123

      script.
        insertJavaScript("//platform.twitter.com/widgets.js");

    script.
      insertJavaScript("/static/js/jquery.qrcode.min.js");

      // Utils
      Array.prototype.removeByValue = function(val) {
        for (var i = 0; i < this.length; i++) {
          if (this[i] === val) {
            this.splice(i, 1);
            i--;
          }
        }
        return this;
      };

      String.prototype.fulltrim = function(){
        return this.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g, '').replace(/\s+/g, ' ');
      };

      // Init tabs:
      $("#tabs").show().tabs();


      function toggleQuestion(i) {
        $("#q" + i).fadeToggle('fast');
      }

      // START REQUEST
      var source_url = "#{meta.source_url}";
      $.getJSON(source_url, init);

      var counter = 1;
      var questionNumber;
      var lastClick = 0;
      // The object that carries the Mental Answers
      var user_selected_answers = [];
      // When the user answers the question within this time, the question would be locked
      var LOCK_TIME = 900;

      function init(questions) {
        questionNumber = questions.length;

        if (isDebug) {
          questionNumber = 1;
          for (var i = 0; i<=30; i++) {
            user_selected_answers.push(0);
          }
        }

        $('#total').text(questionNumber);

        $("#collection").html($.map(questions, function(question, i) {
          var question_text = question.desc;
          var answer_html = $.map(question.options, function(answer, j) {
            return "<p class='answer' value='" + answer.weight + "'>" + answer.text + "</p>";
          }).join('');
          return "" +
            "<li id='q" + (i+1) + "'>" +
              "<div class='questionWrapper'>" +
                "<div class='question '>" + question_text + "</div>" + answer_html +
               "</div>" +
            "</li>";
        }).join(''));

        $("#loading").hide();
        $("#start").show();

        toggleQuestion(1);
      }

      // When click answer, will pick the data and automatically jump to the next question
      $('#collection').on('click', '.answer', function(){
        var clickDiff = (new Date()).getTime() - lastClick;
        lastClick = (new Date()).getTime();
        if (clickDiff < LOCK_TIME && !isDebug) {
          alert('Please slow down!');
          return;
        }
        var $this = $(this);
        var val = $this.attr('value');
        user_selected_answers.push(parseFloat(val));
        $this.parent().parent().fadeToggle('fast');
        $("#progress-bg").css("width", (counter*100 / questionNumber) + "%");

        // Finish all questions
        if (counter == questionNumber && !$.isWeixin) {
          $("#collection, #progress-counter, #progress").hide();
          $("#result_details, #credits, #emoji, .result_link, .fb-like, .twitter-follow").show();
          updateTestResult();
          return;
        }

        // To the next
        counter++;
        toggleQuestion(counter);
        $("#counter").text(counter);
      });

      $("#start").click(function(){
        $("#progress, #collection").show('slow');
        $("#splash").hide('slow');
        $(".fb-like, .twitter-follow").hide();
      });

      function updateTestResult() {
        var q = user_selected_answers;

        var result_value = calculateValue(q);

        $({someValue: 0}).animate({someValue: Number(result_value)}, {
          duration: 3000,
          easing:'easeOutQuint',
          step: function() {
            $('#result-value-text').text(Math.ceil(this.someValue));
          },
          complete: function() {
            showResultDesc(result_value);
          }
        });

        $('#qr_code').qrcode({
          width: 170, 
          height: 170, 
          text:'#{meta.url}?from=qr_code'
        });
      }

      function showResultDesc(result_value) {
        var desc = calculateDesc(result_value);
        var $d = $('#result-description');
        $d.text(desc);
        $d.removeClass('eq-result-ing');
        $d.removeClass('blink_me');
        $d.animate({
          'font-size': '3em',
          'background-color': '#346F36',
          'color': '#fff'
        });
      }

      var isShared = false;
      $('#share_tab').click(function(){
        isShared = true;
        $("#share-result").show();
        $("#share-hint").hide();
        updateTS();
      });

      $('#details_tab').click(function(){
        if (!isShared) {
          return;
        }
        motionVal('b.real_age', 0, real_age, 500);
        motionVal('b.mental_age', real_age, mental_age, 1000);
        motionVal('b.naive_age', 0, naive_degree, 1500);
        motionVal('b.mature_age', 0, mature_degree, 2000);
        motionVal('b.old_age', 0, old_degree, 3000);
        var $progress = $('#progress_details');
        var $progress_p = $('#progress_p');
        $progress_p.show();
        $({someValue: 0}).animate({someValue: 100}, {
          duration: 4000,
          easing:'easeOutQuint',
          step: function() {
            $progress.attr('value', this.someValue);
          },
          complete: function() {
            $progress_p.hide('fast');
          }
        });
      });

      function motionVal(selector, start, end, dur) {
        var $s = $(selector);
        $({someValue: start}).animate({someValue: end}, {
          duration: dur,
          easing:'easeOutQuint',
          step: function() {
            $s.text(Math.ceil(this.someValue));
          },
          complete: function() {
            $s.animate({'color': '#000'});
          }
        });
      }

      #{result_value_calc_code}
      #{result_desc_calc_code}
