<div class="input-group answer-option row">
  <span class="input-group-addon">
    <input type="radio" disabled>
  </span>
  <input type="text" class="form-control option-text-input" placeholder="input option here">
  <input type="text" class="form-control option-value-input" placeholder="weight" value="0">
  <span class="input-group-btn">
    <button type="button" class="close option-delete" aria-hidden="true">&times;</button>
  </span>
</div>
