<div class="question-card panel panel-info">
  <button type="button" class="close card-close" aria-hidden="true">&times;</button>
  <div class="panel-heading">Question</div>
  <div class="panel-body">
    <div class="question form-group">
      <label>Description: </label>
      <textarea class="form-control question-desc" rows="2"></textarea>
    </div>
    <div class="answers form-group">
      <label for="">Options: </label> 
      <button type="button" class="btn btn-info btn-xs add-option-btn">Add One Option</button>
    </div>
  </div>
</div>
