{% extends "layout.html" %}
{% block title %}Input A Test{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('mustache.static', filename='mustache-loader.js') }}"></script>
  <style type="text/css">

      .main-container {
        margin-bottom: 200px;
      }

      .pre-question, .after-question, .meta-info {
        width: 800px;
      }
      .after-question {
        margin-top: 20px;
      }
      .question-list {
        width: 800px;
      }
      .question-card .card-close {
        padding: 5px;
      }
      .question-card .option-delete {
        padding-right: 10px;
      }
      .question-card .answer-option {
        margin-left: -2px;
        margin-bottom: 5px;
      }
      .question-card .answer-option .option-text-input {
        width: 89%;
      }
      .question-card .answer-option .option-value-input {
        width: 10%;
        margin-left: 2px;
      }

      .tip-title {
        width: 200px;
        text-align: center;
        font-weight: bold;
      }
      .tip-content {
        margin-top: 10px;
      }
      .tip-html-label {
        font-weight: normal;
      }

      .result-more-content {
        margin-top: 10px;
      }

      .result-template-select-btn {
        margin-top: 50px;
      }

      .result-template-list {
        width: 750px;
      }

      .result-template-list img {
        width: 200px;
      }

      .result-template-list li.selected a {
        border: 4px solid;
      }

      .result-share-container {
        padding: 15px;
        height: 250px;
      }

      .submit-btn-container {
        width: 200px;
      }

  </style>
{% endblock %}
{% block body %}
<div class="container main-container">
<form method="post" id="frm">
  <div class="meta-info center-block panel panel-primary">
    <div class="panel-heading">Meta</div>
    <div class="panel-body">
      <div class="input-group form-group">
        <span class="input-group-addon">http://www.mbti123.com/</span>
        <input type="text" class="form-control" id="meta-name-input" name="meta-name" placeholder="input url here" />
      </div>
      <div class="form-group">
        <label for="meta-lang-code-input">Language: </label>
        <select class="form-control lang-selector" name="meta-lang-code">
          {% for lang in languages %}
          <option value="{{lang.abbr}}">{{lang.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="meta-title-input">Test name: (eg: IQ Test)</label>
        <input type="text" class="form-control" id="meta-title-input" name="meta-title" />
      </div>
      <div class="form-group">
        <label for="meta-desc-input">Test Description: (optional) </label>
        <input type="text" class="form-control" id="meta-desc-input" name="meta-desc" />
      </div>
    </div>
  </div>
  <div class="pre-question center-block panel panel-danger">
    <div class="panel-heading">Before Test</div>
    <div class="panel-body">
      <input type="text" class="form-control tip-title center-block" value="Tips" name="tip-title" />
      <label class="tip-html-label">
        <input type="checkbox" class="tip-html-checkbox" name="tip-is-html"> HTML
      </label>
      <textarea class="form-control tip-content" rows="4" name="tip-content"></textarea>
    </div>
  </div>
  <div class="question-list center-block">
    {{ mustache('includes/question_card.mustache') | safe }}
    <button type="button" class="btn btn-info add-question-btn">Add One Question</button>
  </div>
  <div class="after-question center-block panel panel-success">
    <div class="panel-heading">Test Result</div>
    <div class="panel-body">
      <ul class="nav nav-tabs" style="margin-bottom:10px">
        <li class="active"><a href="#result-result" id="result-title" data-toggle="tab" contentEditable="true">Result</a></li>
        <li><a href="#result-more" data-toggle="tab" id="more-title" contentEditable="true">More</a></li>
        <li><a href="#result-share" data-toggle="tab" id="share-title" contentEditable="true">Share</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="result-result">
          <ul class="result-template-list list-inline center-block">
            <li class="selected">
              <h4>Text Result: </h4>
              <a href="javascript:void(0)" class="thumbnail" data-el="text-result-container" data-type="text">
                <img src="{{ url_for('static', filename='images/result_text.png') }}" />
              </a>
            </li>
            <li>
              <h4>Pressure Chart: </h4>
              <a href="javascript:void(0)" class="thumbnail" data-el="text-result-container" data-type="press">
                <img src="{{ url_for('static', filename='images/result_pressure.png') }}" />
              </a>
            </li>
            <li>
              <h4>Radar Chart: </h4>
              <a href="javascript:void(0)" class="thumbnail" data-el="radar-result-container" data-type="radar">
                <img src="{{ url_for('static', filename='images/result_radar.png') }}" />
              </a>
            </li>
          </ul>
          <div class="result-input text-result-container well">
            <div class="form-group">
              <label>Title: (eg: Your IQ Score Is:)</label>
              <input type="text" class="form-control result-title-input" name="result-desc" />
            </div>
            <div class="form-group">
              <label>Value Calculation: </label>
              <textarea class="form-control" rows="8" name="result-value-calc-code">
function calculateValue(q) {
    var result = 0;
    $.each(q, function(index, value) {
        result += value;
    });
    return result;
}
              </textarea>
            </div>
            <div class="form-group">
              <label>Description Calculation: </label>
              <textarea class="form-control" rows="8" name="result-desc-calc-code">
function calculateDesc(value) {
    if (value >= 0 && value < 20) {
        return 'A';
    } else if (value > 20) {
        return 'B';
    }
}
              </textarea>
            </div>
            <div class="form-group">
              <label>Something More (Custom HTML): </label>
              <textarea class="form-control" rows="8" name="result-more-html">
<p class="momo">Most people's mental age is 5 years older</p>

<!-- Promote aw's chrome extension -->
<a id="chrome-ext" class="ui-helper-hidden" href="https://chrome.google.com/webstore/detail/quick-qr/afpbjjgbdimpioenaedcjgkaigggcdpp/" target='_blank'>
  Using Chrome Browser? Try "Quick QR" to share any web links to mobile on the fly!
</a>
<script>
  if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
  try {
    var $chrome_ext_a = $('#chrome-ext');
    var s = document.createElement('script');
    s.onload = function(){
      $chrome_ext_a.hide();
    };
    s.onerror = function(){
      $chrome_ext_a.show();
    };
    s.src = 'chrome-extension://afpbjjgbdimpioenaedcjgkaigggcdpp/manifest.json';
    document.body.appendChild(s);
  } catch (e) {};
</script>
              </textarea>
            </div>

          </div>
          <div class="result-input radar-result-container well hide"></div>

        </div>

        <div class="tab-pane" id="result-more">
          <div class="form-group">
            <label>Share hint: </label>
            <input type="text" class="form-control" name="more_share_hint" value="Please click Share above to help us spread and then come back. Thanks ^_^" />
          </div>
          <div class="form-group">
            <label>More:</label>
            <textarea rows="10" class="form-control result-more-content" name="result-more-content"></textarea>
          </div>
        </div>

        <div class="tab-pane result-share-container" id="result-share">
          <div style="margin-bottom:20px">
            <b>Share tip: </b>
            <input type="text" name="shared_stat_part1" value="Already shared by" />
            <span>${num}</span>
            <input type="text" name="shared_stat_part2" value="people" />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="submit-btn-container center-block">
    <button type="button" class="btn btn-success" id="preview-btn">Preview</button>
    <button type="button" class="btn btn-info" id="save-btn">Submit</button>
  </div>

  <input type="hidden" id="questions-data-input" name="questions-data" />
  <input type="hidden" id="result-type-input" name="result-type-data" value="text" />
  <input type="hidden" id="share-service-ids" name="share-service-ids" />
  <input type="hidden" id="result-title-input" name="result-title" />
  <input type="hidden" id="more-title-input" name="more-title" />
  <input type="hidden" id="share-title-input" name="share-title" />

</form>
</div>

{{ mustache_templates | safe }}

<script type="text/javascript">
$(function(){
  
  $('.question-list').on('click', '.card-close', function() {
    $(this).parents('.question-card').remove();
  });

  $('.question-list').on('click', '.option-delete', function() {
    $(this).parents('.answer-option').remove();
  });

  $('.question-list').on('click', '.add-option-btn', function() {
    $(this).before($.mustache('includes/answer_option.mustache'));
  });

  $('.question-list').on('click', '.add-question-btn', function() {
    $(this).before($.mustache('includes/question_card.mustache'));
  });

  $('.result-template-list').on('click', '.thumbnail', function() {
    $('.result-template-list li.selected').removeClass('selected');
    $(this).parents('li').addClass('selected');
    $('.result-input').hide();
    $('.' + $(this).data('el')).show();

    $('#result-type-input').val($(this).data('type'));
  });

  $.getJSON('/static/share.json', function(shares) {  
    var htmls = $.map(shares, function(s) {
      return '<label class="checkbox-inline">' +
               '<input type="checkbox" value="' + s.id + '">' + s.name +
             '</label>';
    }).join('');
    $('#result-share').append(htmls);
  });


  function set_question_form() {
    var questions = [];
    $('.question-card').each(function(i, card) {
      var card = $(card);
      var desc = card.find('.question-desc').val();
      var options = card.find('.answer-option').map(function(i, option) {
        return {
          text: $(option).find('.option-text-input').val(),
          weight: $(option).find('.option-value-input').val()
        };
      }).get();
      questions.push({desc: desc, options: options});
    });
    $('#questions-data-input').val(JSON.stringify(questions));
  }

  function set_share_form() {
    var share_ids = $('input[type=checkbox]:checked', '#result-share').map(function(i, box) {
      return box.value;
    }).get().join(',');
    $('#share-service-ids').val(share_ids);
  }

  function set_result_title_form() {
    $('#result-title-input').val($('#result-title').text());
    $('#more-title-input').val($('#more-title').text());
    $('#share-title-input').val($('#share-title').text());
  }

  function set_forms() {
    set_question_form();
    set_share_form();
    set_result_title_form();
  }

  $('#preview-btn').click(function() {
    set_forms();
    $('#frm').attr({'action': '/preview', 'target': '_blank'}).submit();
  });

  $('#save-btn').click(function() {
    set_forms();
    $('#frm').attr({'action': '/create', 'target': ''}).submit();
  });

});
</script>

{% endblock %}
