{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
     .btn-container { width: 400px; }
     .btn-container .btn-lg { height: 70px; margin-top: 30px; }
  </style>
{% endblock %}
{% block body %}
<div class="container btn-container">
  <button type="button" id="btn-create" class="btn btn-success btn-lg btn-block">Input Test</button>
  <button type="button" id="btn-edit" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#edit-modal">Edit Test</button>
  <button type="button" id="btn-translate" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#translate-modal">Translate Test</button>
</div>

{% for action, title, text in [('edit', 'Edit', 'Language'), ('translate', 'Translate', 'Source Language')] %}
<div class="modal fade" id="{{action}}-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/{{action}}" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}} Test</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Select A Test</label>
            <select class="form-control test-selector" name="test">
              {% for test in tests %}
                <option value="{{test.name}}">{{ test.readable_name or test.name }}</option>
              {% endfor %}
            </select>
          </div> 
          <div class="form-group">
            <label>Select A {{ text }}</label>
            <select class="form-control lang-selector" name="lang"></select>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


<script type="text/javascript">
  $(function(){
    $('#btn-create').click(function(){
      location.href = "{{ url_for('create') }}";
    });

    var data = {{ data | safe }};

    $('#edit-modal .test-selector, #translate-modal .test-selector').prop('selectedIndex', -1)
      .change(function(){
        var s = $(this).parents('form').find('.lang-selector'),
          test_name = $(this).val(),
          langs = data[test_name];
        s.html($.map(langs, function(lang, i){
          return '<option value="' + lang.abbr + '">' + lang.name + '</option>'
        }).join(''));

      });

  });
</script>
{% endblock %}
