<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src=""></script>
  {% endblock %}
  </head>
</head>
<body>
  {% include "navbar.html" %}
  {% for message in get_flashed_messages() %}
    <div class="flash center-block">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</body>
</html>
