<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Arbok</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
      </ul>
      {% if user %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.admin %}
            <li><a href="{{ url_for('admin.index') }}">Manage Panel</a></li>
            {% endif %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
